header {
    padding: 1rem;
}

h1 {
    padding: 1rem;
    text-wrap: balance;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
    top: 20px;
}

/* Media Queries */
@media screen and (min-width: 769px) {
    h1,
    header p {
        text-align: center;
    }
}
